div.mail Verify your email address.
  p We want to make sure it's really you. Please enter the following verification code when prompted. If you don’t want to create an account, you can ignore this message.
  code Verification code: #{code}
  p (This code is valid for 30 minutes).
