div.mail Someone requested a password reset for your account #{email}.
  p If you did not request a password reset, please ignore this email.
  code Token: #{token}
  p (This token is valid for 60 minutes).
